
body{
    background-color: rgba(241, 236, 236, 0.521);
}

#toggleMenu {
    width: 60px;
    height: 60px;
   
    background-image: url("hamburger_menu.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: pointer;
}

#menu {
    
    width: 250px;
    height: 100%;
    position: relative;;
    left: 0;
    
        
   }

.colormenu {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    border : 1px;      
}

.show{
    display: block; 
}

#menu ul li {
  
    
    line-height: 60px;
    padding-left: 10px;
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    list-style: none;
}


.green {
    width:100%;
    background-color: rgb(39, 230, 64);
    border: 3px solid rgba(241, 236, 236, 0.521);

}
.orange {
    width:100%;
    background-color: rgb(245, 141, 5);
    border: 3px solid rgba(241, 236, 236, 0.521);
}
.red {
    width:100%;
    background-color: rgb(235, 27, 44);
    border: 3px solid rgba(241, 236, 236, 0.521);

}
.purple {
    width:100%;
    background-color: rgb(159, 9, 204);
    border: 3px solid rgba(241, 236, 236, 0.521);

}

